{% extends "base.html" %} 
{% block title %}Add Tasks{% endblock %} 


{% block content %}

<h1>Welcome, {{user.first_name}}</h1>



<form method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
    />
  </div>
  <div class="form-group">
    <label for="descr">Description</label>
    <input
      type="text"
      class="form-control"
      id="descr"
      name="descr"
      placeholder="Enter Description"
    />
  </div>
  <div class="form-group">
    <label for="stat">Status</label>
    <select
      class="form-control"
      id="stat"
      name="stat"
    > 
    <option value="todo">To Do</option>
    <option value="doing">Doing</option>
    <option value="done">Done</option>
    </select>
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Task</button>
  </div>
</form>

{% endblock %}

