{% extends "base.html" %} 

{% block content %}
<style>
    h1 {
  color: rgb(41, 41, 41);
  font-size: 50px;
}
    h2 {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
    }
    h3 {
    color: white;
    }
    p {
    color: white;  
    }


</style>

          <div class="container" style="
          display: flex;
          padding: 10px">
              <div class="column" style="
              background-color:rgb(238, 238, 238);
              flex: 33.33%;
              width: 100%;
              height: 1000px;
              padding: 10px;
              margin: 0px;
              text-align: left;">
                <h2 style="
                color: rgb(41, 41, 41);
                font-family: sans-serif;"> TO DO </h2>
                <div class="tasklist" >
                  {% for task in user.tasks %}
                  {% if task.stat == "todo" %}
                    <div class="taskbox" style="padding: 15px;
                    margin: 10px;
                    background-color:rgb(41, 41, 41);
                    height: 100%;
                    border-radius: 5px;">
                    <button style="color: white" type="button" class="close" onClick="deleteTask({{ task.id }})">
                      <span aria-hidden="true">&times;</span>
                  </button>
                        <h3 style="padding-top: 2px; margin-top: 2px;">{{task.title}}</h3>
                        <p>{{task.descr}}</p>
                        
                    </div>
                  {% endif %}
                  {% endfor %}  
                </div>
              </div>
              <div class="column" style="
              background-color:rgb(214, 209, 130);
              flex: 33.33%;
              width: 100%;
              height: 1000px;
              padding: 10px;
              margin: 0px;
              text-align: left;">
                <h2 style="
                color: rgb(41, 41, 41);
                font-family: sans-serif;"> DOING </h2>
                <div class="tasklist" >
                  {% for task in user.tasks %}
                  {% if task.stat == "doing" %}
                    <div class="taskbox" style="padding: 15px;
                    margin: 10px;
                    background-color:rgb(41, 41, 41);
                    height: 100%;
                    border-radius: 5px;">
                        <h3 style="padding-top: 2px; margin-top: 2px;">{{task.title}}</h3>
                        <p>{{task.descr}}</p>
                    </div>
                  {% endif %}
                  {% endfor %}  
                </div>
              </div>
              <div class="column" style="
              background-color:rgb(152, 199, 148);
              flex: 33.33%;
              width: 100%;
              height: 1000px;
              padding: 10px;
              margin: 0px;
              text-align: left;">
                <h2 style="
                color: rgb(41, 41, 41);
                font-family: sans-serif;"> DONE </h2>
                <div class="tasklist" >
                  {% for task in user.tasks %}
                  {% if task.stat == "done" %}
                    <div class="taskbox" style="padding: 15px;
                    margin: 10px;
                    background-color:rgb(41, 41, 41);
                    height: 100%;
                    border-radius: 5px;">
                        <h3 style="padding-top: 2px; margin-top: 2px;">{{task.title}}</h3>
                        <p>{{task.descr}}</p>
                    </div>
                  {% endif %}
                  {% endfor %}  
                </div>
              </div>
           </div>
  
  
{% endblock %}