{% extends "base.html" %} 

{% block content %}

<head>
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styl.css') }}"
    />
</head>
          <div class="container">
              <div class="lcolumn">
                <h2> TO DO </h2>
                <div class="tasklist" >
                  {% for task in user.tasks %}
                  {% if task.stat == "todo" %}
                    <div class="taskbox">
                    <button type="button" class="close" onClick="deleteTask({{ task.id }})">
                      <span aria-hidden="true">&times;</span>
                  </button>
                        <h3>{{task.title}}</h3>
                        <p>{{task.descr}}</p>
                        <button type="submit" class="btn btn-primary" onClick="moveTask({{task.id }}, 'doing')">Doing</button>
                        <button type="submit" class="btn btn-primary" onClick="moveTask({{task.id }}, 'done')">Done</button>
                    </div>
                  {% endif %}
                  {% endfor %}  
                </div>
              </div>
              <div class="mcolumn">
                <h2> DOING </h2>
                <div class="tasklist" >
                  {% for task in user.tasks %}
                  {% if task.stat == "doing" %}
                    <div class="taskbox" >
                     <button type="button" class="close" onClick="deleteTask({{ task.id }})">
                      <span aria-hidden="true">&times;</span>
                  </button>
                        <h3>{{task.title}}</h3>
                        <p>{{task.descr}}</p>
                        <button type="submit" class="btn btn-primary" onClick="moveTask({{task.id }}, 'todo')">To Do</button>
                        <button type="submit" class="btn btn-primary" onClick="moveTask({{task.id }}, 'done')">Done</button>
                    </div>
                  {% endif %}
                  {% endfor %}  
                </div>
              </div>
              <div class="rcolumn">
                <h2> DONE </h2>
                <div class="tasklist" >
                  {% for task in user.tasks %}
                  {% if task.stat == "done" %}
                    <div class="taskbox">
                     <button  type="button" class="close" onClick="deleteTask({{ task.id }})">
                      <span aria-hidden="true">&times;</span>
                  </button>
                        <h3>{{task.title}}</h3>
                        <p>{{task.descr}}</p>
                        <button type="submit" class="btn btn-primary" onClick="moveTask({{task.id }}, 'todo')">Todo</button>
                        <button type="submit" class="btn btn-primary" onClick="moveTask({{task.id }}, 'doing')">Doing</button>
                    </div>
                  {% endif %}
                  {% endfor %}  
                </div>
              </div>
           </div>
  
  
{% endblock %}